#container1 {
    display: grid;
    margin: 5px;
    background-color: #f7f4ee;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    grid-gap: 5px;
    grid-template-areas: 
        'image1 image2 image3'
        'text1 text2 text3'
        'copy copy copy';
}
#container2 {
    display: grid;
    margin: 5px;
    background-color: #f7f4ee;
    border-radius: 5px;
    padding: 10px;
    grid-gap: 5px;
    grid-template-areas: 
        'image text';
}

.photo {
    grid-area: image;
    border: 5px dotted #9b3333;
    padding: 12px 8px 8px 8px;
    margin: 10px;
}
.photo1 {
    grid-area: image1;
    border: 5px dotted #9b3333;
    padding: 12px 8px 8px 8px;
}
.photo2 {
    grid-area: image2;
    border: 5px dotted #9b3333;
    padding: 12px 8px 8px 8px;
}
.photo3 {
    grid-area: image3;
    border: 5px dotted #9b3333;
    padding: 12px 8px 8px 8px;
}

.info {
    grid-area: text;
    font-size: 16;
    height: 40px;
}
.info1 {
    grid-area: text1;
    font-size: 16;
    height: 40px;
}
.info2 {
    grid-area: text2;
    font-size: 16;
    height: 40px;
}
.info3 {
    grid-area: text3;
    font-size: 16;
    height: 40px;
}

body {
    background-color: #de3535;
    font-family: 'Courier New', Courier, monospace;
    color: #361d1d;
}
h1 {
    text-align: center;
    font-size: 24;
}
h5 {
    text-align: center;
}
p, li {
    font-size: 16;
}